**session 2 & 3**  
*1401/06/13*  
*-- for / range() / lists*

> < ==
=
{0,1,2,3,4}
     |


i

In [3]:
a = int(input())
for i in range(a):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
a = (12 == 12)
print(a)

True

In [7]:
# 2n

for i in range(50, 100, 2):
    print(i)

50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [9]:
ls = [12,13,'s']
#      0, 1, 2
print(ls[1])

13

In [15]:
ls.append(15)
print(ls)
#21 

d = ls[:4]
print(d)

[12, 13, 's', 15, 15, 15, 15, 15, 15]
[12, 13, 's', 15]

In [24]:
s = "Hello world!"
print(s[:5])
print(s[-1])

Hello
!

In [23]:
ls = [1,3,6,8,11]
print(ls[-2])
print(len(ls))
print(ls[len(ls)-1])

8
5
11

In [34]:
ls = [1,2,3,4,3,6,7,8,5,9,10,10,10,1,1,1]
print(ls)
ls.sort()
print(ls)
ls.sort(reverse=True)
print(ls)

[1, 2, 3, 4, 3, 6, 7, 8, 5, 9, 10, 10, 10, 1, 1, 1]
[1, 1, 1, 1, 2, 3, 3, 4, 5, 6, 7, 8, 9, 10, 10, 10]
[10, 10, 10, 9, 8, 7, 6, 5, 4, 3, 3, 2, 1, 1, 1, 1]

n   
0 - n  
n = 20  

0 - 4 - 8 - 12 - 16

In [32]:
n = int(input())
for i in range(0,n,4):
    print(i)

0
4
8
12
16
20
24
28
32
36
40
44
48
52
56
60
64
68
72
76
80
84
88
92
96

In [35]:
ls = [12,13,14,14,15,15]
print(ls)
ls.pop(1)
print(ls)

[12, 13, 14, 14, 15, 15]
[12, 14, 14, 15, 15]

In [36]:
i = 0
while i < 10:
    print(i)
    i += 1
   #i = i + 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
'''
while True:
while 1:       True = 1
               False = 0
while 1 > 0:
'''

In [44]:
n = int(input())
tmp = 1 #1 -> prime number
for i in range(2,n):
    print(i)
    if n % i == 0:
        tmp = 0
        break

if tmp == 1: 
    print("n is a prime number")
else:
    print("n is not a prime number")

2
n is not a prime number

In [45]:
for n in range(2,100):
    tmp = 1 #1 -> prime number
    for i in range(2,n):
        if n % i == 0:
            tmp = 0
            break
    if tmp == 1:
        print(n)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97